*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height:120px;
}

.header img{
    width: 300px;
    height: 85px;
    padding-left: 100px;
    padding-top: 8px;
}

.header .logo{
    float: left;
}

.main .top{
    width: 100%;
    height: 600px;
}

.main .top img{
    width: 100%;
    height: 600px;
}

.main .topplayer{
    position: absolute;
    top: 120px;
    background: #000000;
    width: 100%;
    height: 600px;
    opacity: 0.5;
}

.main .topplayer-top{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 400px;
    margin-top: -150px;
    z-index: 2;
    right: 50%;
    margin-right: -250px;
}

.main .topplayer-top .title{
    padding-top: 100px;
    color: #ffffff;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main .topplayer-top .word{
    padding-top: 100px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    font-family: "幼圆";
}

.main .topplayer-top button{
    width: 200px;
    height: 60px;
    margin-top: 50px;
    color: #ffffff;
    background: #f5704f;
    font-family: "幼圆";
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 8px;
    margin-left: 150px;
}

.main .middle{
    width: 1000px;
    margin: 0 auto;
}

.main .middle .m-top .commen{
    float: left;
    width: 33.3%;
    padding-top: 50px;
    text-align: center;
}

.main .middle .m-top .commen img{
    width:100px;
    height: 100px;
}

.main .middle .m-top .commen .comm{
    font-size: 20px;
    color: #7d7c7f;
    font-weight: bold;
    padding-top:20px;
}

.main .middle .m-middle{
    font-size: 22px;
    color: #e19796;
    font-weight: bold;
    padding-top: 50px;
    font-style: italic;
    text-align: center;
    padding-bottom: 50px;
}

.clear{
    clear: both;
}

.main .middle .m-bottom .m-com{
    float: left;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.main .middle .m-bottom .m-com img{
    widows: 310px;
    height: 260px;
}

.main .middle .m-bottom .des1{
    padding-top: 20px;
    color: #7d7d7f;
}

.main .middle .m-bottom .des2{
    padding-top: 10px;
    color: #bdbdbc;
}

.main .bottom{
    width: 1000px;
    margin: 0 auto;
}

.main .bottom .b-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #7d7c7f;
    font-family: "幼圆";
    padding-top: 50px;
    padding-bottom: 50px;
}

.main .bottom .pic-content dl{
    float: left;
    width: 470px;
    margin: 10px 12px;
}

.main .bottom .pic-content dl img{
    width: 470px;
    height: 460px;
}

.main .bottom .pic-content dl .word{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #7d7c7f;
    padding-bottom: 50px;
}

.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: #292c35;
    color: white;
    font-family: "幼圆";
    font-size: 15px;
}